{% extends "games/basic.html" %}
{% block base %}
{% load static %}
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
  crossorigin="anonymous">
  </head>
    {% if user.is_authenticated %}
<div class="container">

    <div class="jumbotron" align='center'>
      <h3>Welcome to Gamezone</h3>
    <a href="{% url 'games:tictactoe' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">TicTacToe</a><br><br>
<a href="{% url 'games:connect4' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Connect 4</a>
    {% else %}
    <div class="jumbotron" align='center'>
      <h3>Log in to continue!!</h3>
      <br>
      <a href="{% url 'games:user_login' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">LogIN</a>

    </div>
  </div>
</div>


    {% endif %}

{% endblock %}
